@use '../utilities/' as *;

.nav {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 100%;

    svg {
      zoom: 0.5;
    }

    @include md {
      svg {
        zoom: 1;
      }
    }
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
    text-decoration: none;
    color: $very-dark-blue;
    width: max-content;
    margin-right: 15px;
    font-weight: font-weight(regular);
    font-size: font-size(small);

    @include md {
      font-size: font-size(large);
      margin-right: 40px;
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      content: '';
      display: block;
      height: 1px;
      width: 0;
      background-color: $very-dark-blue;
      margin-top: 5px;
      transition: width 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
