@use '../utilities' as *;

.btn {
  border-radius: 3px;
  padding: 12px 50px;
  font-size: 14px;
  color: #fff;
  margin: auto;
  margin-top: 15px;
  background-color: $bright-blue;
  outline: none;
  border: none;

  &:hover {
    opacity: 0.8;
  }
}
