// Layout
$mobile: 375px;
$desktop: 1440px;

// colors
$very-dark-blue: hsl(243deg 87% 12%);
$desaturated-blue: hsl(238deg 22% 44%);
$bright-blue: hsl(224deg 93% 58%);
$moderate-cyan: hsl(170deg 45% 43%);
$light-grayish-blue: hsl(240deg 75% 98%);
$light-gray: hsl(0deg 0% 75%);
$hover-blue: rgb(95 136 248);
$error-red: hsl(0deg 66% 53%);
